doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=Edge,chrome=1")
    meta(name="description", content="Jane&John's Wedding")
    meta(name="author", content="Paulo Diniz")
    link(rel="shortcut icon", href="img/favicon.png")
    title The Diniz Wedding
    // Bootstrap core CSS
    link(href="css/bootstrap.css", rel="stylesheet")
    // Custom styles for this template
    link(href="http://fonts.googleapis.com/css?family=Dancing+Script:700", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=EB+Garamond", rel="stylesheet", type="text/css")
    link(href="http://fonts.googleapis.com/css?family=Raleway:900", rel="stylesheet", type="text/css")
    link(href="css/animate.css", rel="stylesheet")
    link(href="css/font-awesome.min.css", rel="stylesheet")
    link(href="css/colorbox.css", rel="stylesheet")
    link(href="css/style.css", rel="stylesheet")
    link(href="css/responsive.css", rel="stylesheet")
    // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
    //if lt IE 9
      script(src="js/html5shiv.js")
      script(src="js/respond.min.js")

    // Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent
    link(rel='stylesheet', type='text/css', href='http://assets.cookieconsent.silktide.com/current/style.min.css')
    script(type='text/javascript', src='http://assets.cookieconsent.silktide.com/current/plugin.min.js')


  body(data-spy="scroll", data-target=".navbar-default")

    .alert.alert-info.hidden
      | Su mensaje se ha enviado correctamente.
    // begin:navbar
    nav.navbar.navbar-default.navbar-fixed-top(role="navigation")
      .container
        // Brand and toggle get grouped for better mobile display
        .navbar-header
          button.navbar-toggle(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand.visible-xs(href="#home") John
        // Collect the nav links, forms, and other content for toggling
        #bs-example-navbar-collapse-1.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href="#home") Home
            li
              a(href="#about") About
            li
              a(href="#ceremony") Ceremony
            li
              a(href="#maps") Maps
            li
              a(href="#photos") Pictures
            li
              a(href="#story") Story
            li
              a(href="#contact") Contact Us
        // /.navbar-collapse
    // end:navbar
    // begin:home
    section#home(style="background: url(http://cdn26.us1.fansshare.com/photo/wedding/episcopal-church-ascension-wedding-church-957339152.jpg);")
      .container
        .row
          .col-md-12
            h1 Emma &#38; Paulo
            h3
              span April 2, 2016
            // <div class="line"><h3>Are getting</h3></div>
            h2
              i.fa.fa-heart-o
              | ARE GETTING MARRIED!
              i.fa.fa-heart-o
            h4 And have the pleasure (or not)
            h5
              span ~ To Invite You ~
    // end:home
    // begin:about
    section#about
      .about-inner
        .container
          .row
            .col-md-4
              h2 Emma
              p
                | Emma, 26 years old, is a mucho old and fat bunny. She is mucho mucho mucho smewy.
              blockquote
                |  With a such a cuteness nose how can I not love her.
                small Paulo
            // break
            .col-md-4
              .about-img-container(style="background: url(http://www.two-views.com/images/couple_kissing.jpg) center;")
              img.about-img.img-responsive(src="img/bottom.png")
            // break
            .col-md-4
              h2 Paulo
              p
                | Paulo, 26 years old, is a mucho cute and awesome puppy.

              blockquote
                |  He licks my nose mucho times, how can I not love him.
                small Emma
            // break
    // end:about
    // begin:maps
    section#maps.iglesia(style="background-image: url('http://truephotography.com/wp-content/uploads/2012/08/San-Diego-Wedding-Coordinator-Alison-Howard-Events.jpg');")
      .row
        .col-md-6.col-sm-6
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3305.90175661285!2d-118.41974918394361!3d34.04639112548417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2bb9538dab9f5%3A0x9face1d61dc61185!2sSt+Timothy&#39;s+Catholic+Church!5e0!3m2!1sen!2sus!4v1445111952203" width="600" height="450" frameborder="0" style="border:0")
        .col-md-6.col-sm-6.text
          h1 The Church
          h4 St. Timothy Catholic Church, 10425 Pico Blvd, Los Angeles, CA 90064 03.00 PM
    // end:maps
    section#maps.convite(style="background-image: url('http://www.weddingatfareast.com/~/media/FE%20Weddings/2%20CVH/Venues/Square/CVH%20-%20Ballroom%201%20-%20001.ashx');")
      .row
        .col-md-6.col-sm-6.text
          h1 Reception
          h4 Marina City Club
        .col-md-6.col-sm-6.pull-right
          iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3308.2967749455884!2d-118.45511788394435!3d33.98491012872109!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2ba90730df5c1%3A0x24d6c09995caf57d!2sMarina+City+Club!5e0!3m2!1sen!2sus!4v1445111856596" width="600" height="450" frameborder="0" style="border:0")
    // end:maps
    // begin:ceremony
    section#ceremony(style="background: url(http://www.autostraddle.com/wp-content/uploads/2013/12/couple-cover-image-holding-hands.jpg);")
      .container
        .row
          .col-md-12
            h1 The Wedding
            h3
              span will be
            h2 2nd, Apr
            h5
              span ~ 04/02/2016 ~
            h4 St. Timothy Catholic Church, 10425 Pico Blvd, Los Angeles, CA 90064 03.00 PM
    // end:ceremony
    // begin:photos
    section#photos
      .container
        .row
          .col-md-4
            img.about-img.img-responsive(src="img/bottom.png")
            h2 Photo Gallery
            p Pictures of a good puppy and a smewy bunny
          // break
          .col-md-8
            #wedding-photo.carousel.slide(data-ride="carousel")
              .carousel-inner
                .item
                  .row
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInLeftBig
                      a.gallery-images(href="img/img01.jpg")
                        .photo-gallery(style="background: url(http://www.couplestherapyinsandiego.com/userfiles/3304838/image/Couple%20on%20beach.jpg);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInDownBig
                      a.gallery-images(href="img/img02.jpg")
                        .photo-gallery(style="background: url(http://www.vamshare.com/wp-content/uploads/2014/06/couple-hug.jpg);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInRightBig
                      a.gallery-images(href="img/img03.jpg")
                        .photo-gallery(style="background: url(http://www.couple.com/images/shared/couplecomvb1.jpg);")
                .item.active
                  .row
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInRightBig
                      a.gallery-images(href="img/img04.jpg")
                        .photo-gallery(style="background: url(http://i.telegraph.co.uk/multimedia/archive/02788/couple_2788635b.jpg);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInUpBig
                      a.gallery-images(href="img/img05.jpg")
                        .photo-gallery(style="background: url(http://cos.h-cdn.co/14/31/980x487/1406832048-1406823730-old_couple.png);")
                    .col-md-4.col-sm-4.col-xs-12.animated.fadeInLeftBig
                      a.gallery-images(href="img/img06.jpg")
                        .photo-gallery(style="background: url(http://i.telegraph.co.uk/multimedia/archive/01949/PF-couple-row_1949229b.jpg);")
              a.left.carousel-control(href="#wedding-photo", data-slide="prev")
                span.glyphicon.glyphicon-chevron-left
              a.right.carousel-control(href="#wedding-photo", data-slide="next")
                span.glyphicon.glyphicon-chevron-right
    // end:photos
    // begin:story
    section#story
      .container
        .row
          .col-md-12
            h2 The Story
            ul.content
              li
                h3.content-avatar.avatar-top
                  .img-avatar(style="background: url(http://th03.deviantart.net/fs71/PRE/i/2012/311/7/1/longhaired_girl__profile_by_alexandrinnne-d5ka9it.jpg);")
                ul
                  // begin:content-text
                  li.content-item.content-text
                    h3 Lore :"&#62;
                    .text
                      |  ¿Cómo nos conocimos? Eso es fácil, en la Javierada, una peregrinación que se hace todos los años al castillo de San Francisco Javier en Navarra. En el bus, John la estaba liando(como siempre) porque se le salió la coca-cola de una botella que llevaba en la mochila y empezó a sacar libros empapados mientras maldecía abiertamente!Al principio no me salió otra cosa que reírme pero luego al ir a ver si podía ayudarle fue cuando hablamos por primera vez.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 8 de marzo del 2009
                  // end:content-text
                  // begin:content-photo
                  li.content-item.content-photo
                    img(src="http://www.psysteme.lu/wp-content/uploads/2011/11/couple.jpg", alt="siempre juntos")
                    h3 John :"&#62;
                    .text
                      | ¿Cómo empezamos a salir? Como caballero que soy, después de varias semanas de escribirnos por whatsapp,  mensajes y vernos alguna que otra vez más en quedadas comunes después de la Javierada, invité a Jane a un musical "Fiebre del sábado noche" y cuando le acompañé a casa, me decidí a pedirle que fuéramos algo más, a lo que la muy cabrita me contestó: "Podemos intentarlo". Lo tomamos como un Sí.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 26 de Abril del 2009
                  // end:content-photo
                  // begin:content-photo
                  li.content-item.content-photo
                    img(src="http://1.bp.blogspot.com/-vd58PjE215M/TViIuPXqPUI/AAAAAAAAEks/d6Zd0JPNwjc/s1600/1234768658_1024x768_sweet-couple-wallpaper.jpg")
                    h3 Lore :"&#62;
                    .text
                      | ¡Me voy a London! Pues eso, el título lo dice todo. Visto que aquí en España sólo curraba 5 meses al año como mucho por suplencias, después de mucho pensarlo, y cuando ya llevábamos 5 años de relación, decidí que necesitaba avanzar y que quería currar todo el año, que si no, no había manera de independizarse ni de ir hacia delante, así que para Londres que me fuí (a un hospital en el que al principio ni sacar sangre me dejaban, pero en el que me he hecho querer y estoy consiguiendo lo que quiero poco a poco). Lo difícil, que estamos separados.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 23 Noviembre del 2013
                  // end:content-photo
                  // begin:content-chat
                  li.content-item.content-photo
                    img(src="http://image.shutterstock.com/display_pic_with_logo/823060/120436312/stock-photo-happy-young-couple-in-winter-park-having-fun-family-outdoors-love-120436312.jpg")
                    h3 John :"&#62;
                    .text
                      |  La pedida. Engañando a Jane un día que estaba en Madrid por sus vacaciones, nos fuimos a Navarra para seguir con la tradición de ir una vez al año al castillo de San Francisco Javier. La cuestión es, que después de llegar allí, como ya eran las 8 de la noche, la entrada estaba cerrada, y no pudimos ver al "Cristo sonriente" que tanto nos gusta, así que paseamos un poco por los alrededores mientras atardecía. Cuando estuvimos de nuevo en la explanada, le dije que no se preocupara que al día siguiente entraríamos a verLe, que además sonreía más que nunca, se giró extrañada mientras me arrodillaba y le pedía matrimonio, se puso a llorar como loca y efectivamente el Cristo debía estar contento porque dijo que SÍ.
                    time(datetime="")
                      i.fa.fa-calendar
                      | 29 de Agosto de 2014
                  // end:content-chat
              li.content-end
                h3.content-avatar.avatar-end
                  .img-avatar(style="background: url(https://lh3.googleusercontent.com/-LhQlfDGGvw8/AAAAAAAAAAI/AAAAAAAAAAA/CGV1DBkD1iQ/photo.jpg);")
    // end:story

    // begin:contact
    section#contact
      .container
        .row
          .col-md-12
            h2 Contact
            .contact-container
              .row
                .col-md-6.col-sm-6
                  textarea#form_subject.form-control.no-resize(rows="7", name="subject", placeholder="Mensaje", style="color:blue")
                // break
                .col-md-6.col-sm-6
                  input#form_name.form-control(type="text", name='name', placeholder="Nombre", style="color:blue")
                  input#form_mail.form-control(type="email", name='mail', placeholder="Email", style="color:blue")
                  button#sendForm.btn.btn-lg.btn-green Send
    // end:contact
    // begin:copyright
    section#copyright
      .container
        .row
          .col-md-12
            h2 Jane &#38; John
        .row
          .col-md-12
            ul.list-inline.social-icon
              li
                a.icon-twitter(href="#", rel="tooltip", title="Twitter", data-placement="top")
                  i.fa.fa-twitter
              li
                a.icon-facebook(href="#", rel="tooltip", title="Facebook", data-placement="top")
                  i.fa.fa-facebook-square
              li
                a.icon-google(href="#", rel="tooltip", title="Google Plus", data-placement="top")
                  i.fa.fa-google-plus
              li
                a.icon-instagram(href="#", rel="tooltip", title="Instagram", data-placement="top")
                  i.fa.fa-instagram
        .row
          .col-md-12
            p
              | Invitación de boda de Jane &#38; John
              i.fa.fa-heart-o
              | by
              a(href="http://cybermarkus1.github.io/", target="_blank") Marco Antonio Pajares Silva
            p Copyright &#169; 2015 All Right Reserved.
    // end:copyright
    //
       Bootstrap core JavaScript
          ================================================== 
    // Placed at the end of the document so the pages load faster
    script(src="js/jquery.js")
    script(src="js/bootstrap.js")
    script(src="js/jquery.colorbox.js")
    script(src="js/jquery.easing.js")
    script(src="js/script.js")
